/* /*main font-family: "Raleway", sans-serif; */
/* secondary font-family: "Roboto", sans-serif; */

/* main color text #212121 */
/* secondary color text #757575;*/

/* color accent text #FFFFFF*/
/* secondary color accent text #2196F3*/

/* main background-color: #2f303a;*/
/* secondary background-color: #F5F4FA;*/

/* main text font-size: 14px; */
/* secondary text font-size: 16px;*/

/* Загальна стилізація */
:root {
  --regular-size: 14px;
  --second-size: 16px;

  --color-text: #212121;
  --second-color-text: #757575;

  --color-accent: #2196f3;
  --primary-color-accent: #ffffff;

  --bg-color: #2f303a;
  --second-bg-color: #f5f4fa;
  --section-bg-color: rgba(47, 48, 58, 0.8);
}
body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

/* ТИТУЛЬНИЙ текст для секцій */
.section-title {
  font-size: 36px;
  line-height: 1.16em;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*************** Стилізація шапки *************/
/* Стилізація логотип + ссилок навігації */
.header {
  border-bottom: 1px solid #ececec;
  padding: 25px 0;
}
.container-header {
  display: flex;
  align-items: center;
}
/* логотип */
.logo {
  text-decoration: none;
  color: var(--color-text);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  font-weight: 700;
  margin-right: 90px;
}
/* спан логотип */
.logo__web {
  color: var(--color-accent);
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-list .nav-link:last-child {
  margin-right: 0;
}
.nav-list__item {
  margin-right: 50px;
}

/* ссилки навігації */
.nav-list__link {
  text-decoration: none;
  color: var(--color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list__link-active {
  color: var(--color-accent);
  position: relative;
}
.nav-list__link-active::after {
  content: " ";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--color-accent);
  border-radius: 2px;
  position: absolute;
  top: 45px;
}
.nav-list__link:hover,
.nav-list__link:focus {
  color: var(--color-accent);
}

/* Стилізація ссилок контактів*/

.list-info {
  display: flex;
  margin-left: auto;
}
.list-info__item:nth-child(odd) {
  margin-right: 50px;
}
.list-info__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-info__link:hover,
.list-info__link:focus {
  color: var(--color-accent);
}
.list-info__icon {
  fill: currentColor;
  margin-right: 10px;
}

/************* Стилізація основної частини ***************/
.hero {
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/mainbackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 200px 0;
}
.hero-title {
  color: var(--primary-color-accent);
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.order {
  color: var(--primary-color-accent);
  background-color: var(--color-accent);
  font-size: var(--second-size);
  line-height: 1.87em;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin-top: 30px;
  border: solid 2px #2196f3;
  border-radius: 4px;
  width: 200px;
  height: 50px;
}
/******* Стилізація особливості *******/
.section-content {
  padding-top: 94px;
}
.list-content {
  display: flex;
}
.list-content__item {
  width: 270px;
  margin-right: 30px;
}
.list-content > .list-content__item:last-child {
  margin-right: 0;
}
.list-content__icon {
  display: flex;
  height: 120px;
  background-color: #f5f4fa;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.list-content__title {
  font-size: var(--regular-size);
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
}
.list-content__text {
  font-size: var(--regular-size);
  color: var(--second-color-text);
  line-height: 1.7em;
  letter-spacing: 0.03em;
}

/* Стилізація секції Чим ми займаємось */
.list-photo {
  display: flex;
}
.list-photo__item {
  margin-right: 30px;
}
.list-photo__item:last-child {
  margin-right: 0;
}
.list-photo__thumb {
  position: relative;
  overflow: hidden;
}
.list-photo__block {
  display: block;
}
.list-photo__text {
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--section-bg-color);
  color: var(--primary-color-accent);
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  padding: 30px 0;
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
/* Стилізація секції Наша команда */
.section-team {
  background-color: var(--second-bg-color);
}
.title-inner {
  margin-bottom: 50px;
}
.list-team {
  display: flex;
}
.list-team__card {
  background-color: var(--primary-color-accent);
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.list-team__card:last-child {
  margin-right: 0;
}
.list-team__description {
  padding-top: 30px;
  padding-bottom: 30px;
}
.list-team__names {
  color: var(--color-text);
  font-weight: 500;
  padding-bottom: 10px;
}
.list-team__position {
  color: #757575;
  padding-bottom: 15px;
}
.list-team__names-position {
  font-size: 16px;
  line-height: 1.18em;
  letter-spacing: 0.03em;
  text-align: center;
}

/* SVG команди*/
.list-icon {
  display: flex;
  justify-content: center;
}
.list-icon__item {
  margin-right: 10px;
}
.list-icon__item:last-child {
  margin-right: 0;
}

.list-icon__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-icon__link:hover,
.list-icon__link:focus {
  color: #ffffff;
  border-radius: 50%;
  background-color: var(--color-accent);
}
.list-icon__social {
  fill: currentColor;
}
/***********SVG постоянние клиенти********* */
.list-clients {
  display: flex;
  justify-content: center;
}
.list-clients__item {
  margin-right: 30px;
}
.list-clients__item:last-child {
  margin-right: 0;
}
.list-clients__logo {
  width: 170px;
  height: 92px;
  color: #afb1b8;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: tomato; */
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-clients__logo:hover,
.list-clients__logo:focus {
  color: var(--color-accent);
  border-color: var(--color-accent);
}
.list-clients__icon {
  fill: currentColor;
}
/* Стилізація footer */
.footer {
  background-color: var(--bg-color);
  padding: 60px 0;
}
.container-inner {
  display: flex;
  align-items: baseline;
}
.column__logo {
  text-decoration: none;
  color: var(--primary-color-accent);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 20px;
}
.column__place {
  color: var(--primary-color-accent);
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  font-style: normal;
  margin-bottom: 10px;
}
.item-footer {
  margin-bottom: 10px;
}
.item-footer:last-child {
  margin-bottom: 0;
}
.item-footer__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* FOOTER LINKS */
.container-wrapper {
  margin-left: 70px;
}
.second-title {
  text-transform: uppercase;
  color: var(--primary-color-accent);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-footer-icon {
  display: flex;
}
.list-footer-item {
  margin-right: 10px;
}
.list-footer-item:last-child {
  margin-right: 0;
}
.icon-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--primary-color-accent);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-footer:hover,
.icon-footer:focus {
  background-color: var(--color-accent);
}
/************** Стилізація Portfolio ****************/
/* PORTFOLIO HEADER */
/* BUTTONS */
.nav-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.list-button {
  margin-right: 8px;
}
.nav-button > .list-button:last-child {
  margin-right: 0;
}
.btn {
  background-color: var(--second-bg-color);
  color: var(--color-text);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62em;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  font-family: inherit;
  padding: 6px 22px;
  border: var(--color-accent);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background-color: var(--color-accent);
  color: var(--primary-color-accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* LIST PHOTO`S */
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-element {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.link-portfolio {
  display: block;
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-portfolio:hover,
.link-portfolio:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.link-portfolio:hover .flex-text-overlay {
  transform: translateY(0);
}
.flex-container > .flex-element:nth-child(3n) {
  margin-right: 0;
}
.flex-container > .flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.flex-text {
  padding: 20px 24px;
}

.list-profession {
  color: var(--color-text);
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.list-projects {
  color: var(--second-color-text);
  font-size: 16px;
  line-height: 1.87em;
  letter-spacing: 0.03em;
}
/* ДЗ №5 */
.overlay {
  position: relative;
  overflow: hidden;
}

.flex-text-overlay {
  position: absolute;
  color: var(--primary-color-accent);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*********** MODAL ***************/
.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: rotate(-90deg) scale(0.5);
}
.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  color: var(--color-accent);
}
.modal-btn-ex {
  fill: currentColor;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
/******** ДЗ №6 ********/

/* EMAIL СТУДІЯ */
.conteiner-form {
  margin-left: 90px;
}
.btn-sign-up {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 12px;
}
.subscribe {
  display: flex;
  align-items: flex-end;
}
.subscribe-inner {
  display: flex;
  flex-direction: column;
}
.subscribe-inner:focus-within .second-title {
  color: var(--color-accent);
}
.subscribe__email {
  height: 50px;
  width: 360px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: var(--primary-color-accent);
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__email:focus {
  border: 1px solid var(--color-accent);
}
/* Кнопка модалки */
.btn-modal {
  color: var(--primary-color-accent);
  background-color: var(--color-accent);
  font-size: var(--second-size);
  line-height: 1.87em;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: solid 2px #2196f3;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  display: block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}
/* ссилка модалки */
.conditions {
  display: inline-block;
  color: var(--color-accent);
  border-bottom: 1px solid var(--color-accent);
  margin-left: 3px;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
/* Загальне на форму */
.data-info {
  padding: 40px;
}
/* Заголовок модалки */
.data-info-title {
  display: block;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 18px;
}
/* Коментарі */
textarea {
  margin-top: 5px;
  resize: none;
  height: 120px;
  border: 1px solid #757575;
  border-radius: 4px;
}
/* Label контейнер */
.label-modal {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.label-modal:focus-within .modal-icons {
  fill: var(--color-accent);
  transform: translateX(-30px) translateY(-50%) scale(0, 0);
}
/* SPAN */
.text-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-color-text);
  margin-bottom: 7px;
}
.modal-container {
  position: relative;
}
/* SVG ICON */
.modal-icons {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-modal {
  height: 38px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 34px;
  outline: none;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-modal:focus {
  border: 2px solid var(--color-accent);
}
/* КОМЕНТАР */
.coment-area {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.coment-area:focus {
  border: 2px solid var(--color-accent);
}
/* CHECKBOX */
.label-checkbox {
  display: flex;
  align-items: center;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--second-color-text);
}
.checkbox-text {
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--second-color-text);
}
.check-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--color-text);
  border-radius: 4px;
  margin-right: 4px;
}
.check-icon:focus {
  border-color: var(--color-accent);
}
.checkbox:focus {
  border-color: var(--color-accent);
}
.checkbox:checked + .check-icon {
  border-color: var(--color-accent);
  background-color: var(--color-accent);
  background-image: url(../image/check.svg);
  background-size: contain;
  background-origin: border-box;
}
.checkbox:focus + .check-icon {
  border-color: var(--color-accent);
}
