/* /*main font-family: "Raleway", sans-serif; */
/* secondary font-family: "Roboto", sans-serif; */

/* main color text #212121 */
/* secondary color text #757575;*/

/* color accent text #FFFFFF*/
/* secondary color accent text #2196F3*/

/* main background-color: #2f303a;*/
/* secondary background-color: #F5F4FA;*/

/* main text font-size: 14px; */
/* secondary text font-size: 16px;*/

/* Загальна стилізація */
:root {
  --regular-size: 14px;
  --second-size: 16px;

  --color-text: #212121;
  --second-color-text: #757575;

  --color-accent: #2196f3;
  --primary-color-accent: #ffffff;

  --bg-color: #2f303a;
  --second-bg-color: #f5f4fa;
}
body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
}
.list {
  list-style: none;
  padding: 0;
}
.section-title {
  font-size: 36px;
  line-height: 1.16em;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*************** Стилізація шапки *************/
/* Стилізація логотип + ссилок навігації */
.header {
  border-bottom: 1px solid #ececec;
  padding: 25px 0;
}
.container-header {
  display: flex;
  align-items: center;
}
.logo {
  text-decoration: none;
  color: var(--color-text);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  font-weight: 700;
  margin-right: 90px;
}
.web-logo {
  color: var(--color-accent);
}
.link {
  text-decoration: none;
  color: var(--color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
}
.link-active {
  color: var(--color-accent);
}
.link:hover,
.link:focus {
  color: var(--color-accent);
}
/* Стилізація ссилок комунікації*/
.link-info {
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
}
.link-info:hover,
.link-info:focus {
  color: var(--color-accent);
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-link {
  margin-right: 50px;
}
.nav-list .nav-link:last-child {
  margin-right: 0;
}
.list-info {
  display: flex;
  margin-left: auto;
}
.info-link:nth-child(odd) {
  margin-right: 50px;
}
/************* Стилізація основної частини ***************/
.hero {
  background-color: var(--bg-color);
  text-align: center;
  padding: 200px 0;
}
.hero-title {
  color: var(--primary-color-accent);
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.order {
  box-sizing: border-box;
  color: var(--primary-color-accent);
  background-color: var(--color-accent);
  font-size: var(--second-size);
  line-height: 1.87em;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-family: inherit;
  margin-top: 30px;
  padding: 10px 32px;
  border: solid 2px #2196f3;
  border-radius: 4px;
}
/******* Стилізація особливості *******/
.section-padding {
  padding-top: 94px;
}
.list-content {
  display: flex;
}
.list-items {
  width: 270px;
  margin-right: 30px;
}
.list-content > .list-items:last-child {
  margin-right: 0;
}
.list-title {
  font-size: var(--regular-size);
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.content {
  font-size: var(--regular-size);
  color: var(--second-color-text);
  line-height: 1.7em;
  letter-spacing: 0.03em;
}
/* Стилізація секції Чим ми займаємось */
.list-phofo {
  display: flex;
}
.photo {
  margin-right: 30px;
}
.photo:last-child {
  margin-right: 0;
}
/* Стилізація секції Наша команда */
.section-team {
  background-color: var(--second-bg-color);
}
.title-inner {
  margin-bottom: 50px;
}
.names {
  color: var(--color-text);
  font-weight: 500;
  padding-bottom: 10px;
}
.position {
  color: #757575;
}
.names-position {
  font-size: 16px;
  line-height: 1.18em;
  letter-spacing: 0.03em;
  text-align: center;
}
.description {
  padding: 30px 0;
}
.list-team {
  display: flex;
}
.team-description {
  background-color: var(--primary-color-accent);
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-description:last-child {
  margin-right: 0;
}

/* Стилізація footer */
.footer {
  background-color: var(--bg-color);
  padding: 60px 0;
}
.logo-footer {
  text-decoration: none;
  color: var(--primary-color-accent);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 20px;
}
.place {
  color: var(--primary-color-accent);
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  font-style: normal;
  margin-bottom: 10px;
}
.list-link-footer {
  margin-bottom: 10px;
}
.list-link-footer:last-child {
  margin-bottom: 0;
}
.link-footer {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/************** Стилізація Portfolio ****************/
/* PORTFOLIO HEADER */
/* BUTTONS */
.nav-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.list-button {
  margin-right: 8px;
}
.nav-button > .list-button:last-child {
  margin-right: 0;
}
.btn {
  background-color: var(--second-bg-color);
  color: var(--color-text);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62em;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  font-family: inherit;
  padding: 6px 22px;
  border: var(--color-accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.btn:hover,
.btn:focus {
  background-color: var(--color-accent);
  color: var(--primary-color-accent);
}
/* LIST PHOTO`S */
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-element {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.flex-element:hover,
.flex-element:focus {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.flex-container > .flex-element:nth-child(3n) {
  margin-right: 0;
}
.flex-container > .flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.link-portfolio {
  text-decoration: none;
}
.img-post {
  display: block;
}
.flex-text {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.list-profession {
  color: var(--color-text);
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.list-projects {
  color: var(--second-color-text);
  font-size: 16px;
  line-height: 1.87em;
  letter-spacing: 0.03em;
}
