/* /*main font-family: "Raleway", sans-serif; */
/* secondary font-family: "Roboto", sans-serif; */

/* main color text #212121 */
/* secondary color text #757575;*/

/* color accent text #FFFFFF*/
/* secondary color accent text #2196F3*/

/* main background-color: #2f303a;*/
/* secondary background-color: #F5F4FA;*/

/* main text font-size: 14px; */
/* secondary text font-size: 16px;*/

/* Загальна стилізація */
:root {
  --regular-size: 14px;
  --second-size: 16px;

  --color-text: #212121;
  --second-color-text: #757575;

  --color-accent: #2196f3;
  --primary-color-accent: #ffffff;

  --bg-color: #2f303a;
  --second-bg-color: #f5f4fa;
}
body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}
.list {
  list-style: none;
}

/*************** Стилізація шапки *************/

/* Стилізація логотип + ссилок навігації */
.logo {
  text-decoration: none;
  color: var(--color-text);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  weight: 700;
}
.web-logo {
  color: var(--color-accent);
}
.link {
  text-decoration: none;
  color: var(--color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
}
.link:hover,
.link:focus {
  color: #2196f3;
}
/* Стилізація ссилок комунікації + футер  */
.link-info {
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
}
.link-info:hover,
.link-info:focus {
  color: #2196f3;
}

/************* Стилізація основної частини ***************/
.hero {
  background-color: var(--bg-color);
}
.hero-title {
  color: var(--primary-color-accent);
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.order {
  box-sizing: border-box;
  color: var(--primary-color-accent);
  background-color: var(--color-accent);
  font-size: var(--second-size);
  line-height: 1.87em;
  letter-spacing: 0.06em;
  cursor: pointer;
}
/******* Стилізація особливості *******/
.list-title {
  font-size: var(--regular-size);
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.content {
  font-size: var(--regular-size);
  line-height: 1.7em;
  letter-spacing: 0.03em;
}
/* Стилізація секції Чим ми займаємось */
.section-title {
  font-size: 36px;
  line-height: 1.16em;
  letter-spacing: 0.03em;
  text-align: center;
}
/* Стилізація секції Наша команда */
.conteiner-team {
  background-color: var(--second-bg-color);
}
.title-team {
  font-size: 36px;
  line-height: 1.16em;
  text-align: center;
  letter-spacing: 0.03em;
}
.names {
  color: var(--color-text);
  font-size: 16px;
  line-height: 1.18em;
  letter-spacing: 0.03em;
}
.position {
  font-size: 16px;
  line-height: 1.18em;
  letter-spacing: 0.03em;
  color: #757575;
}
/* Стилізація footer */
.footer {
  background-color: var(--bg-color);
}
.logo-footer {
  text-decoration: none;
  color: var(--primary-color-accent);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  weight: 700;
}
.place {
  color: var(--primary-color-accent);
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
}

/* Стилізація Portfolio */
.nav-btn {
  background-color: var(--second-bg-color);
  color: var(--color-text);
  font-size: 16px;
  line-height: 1.62em;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.nav-btn:hover,
.nav-btn:focus {
  background-color: var(--color-accent);
  color: var(--primary-color-accent);
}
