// .footer {
//   background-color: $bg-color;
//   padding: 60px 0;
// }
// .container--inner {
//   // display: flex;
//   // align-items: baseline;
// }
// .column__logo {
//   text-decoration: none;
//   color: $primary-color-accent;
//   font-family: "Raleway", sans-serif;
//   font-size: 26px;
//   line-height: 1.19em;
//   letter-spacing: 0.03em;
//   font-weight: 700;
//   display: inline-block;
//   margin-bottom: 20px;
// }
// .column__place {
//   color: $primary-color-accent;
//   font-size: 14px;
//   line-height: 1.71em;
//   letter-spacing: 0.03em;
//   font-style: normal;
//   margin-bottom: 10px;
// }
// .column__item {
//   margin-bottom: 10px;
//   &:last-child {
//     margin-bottom: 0;
//   }
// }
// .column__link {
//   text-decoration: none;
//   font-size: 14px;
//   line-height: 1.71em;
//   letter-spacing: 0.03em;
//   color: rgba(255, 255, 255, 0.6);
// }
// /* FOOTER LINKS */
// .wrapper {
//   margin-left: 70px;
// }
// .wrapper__title {
//   text-transform: uppercase;
//   color: $primary-color-accent;
//   font-weight: bold;
//   font-size: 14px;
//   line-height: 1.14em;
//   letter-spacing: 0.03em;
//   margin-bottom: 20px;
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
// .wrapper__list {
//   // display: flex;
// }
// .wrapper__item {
//   margin-right: 10px;
//   &:last-child {
//     margin-right: 0;
//   }
// }
// .wraper__link {
//   // display: flex;
//   // align-items: center;
//   // justify-content: center;
//   // width: 44px;
//   // height: 44px;
//   color: $primary-color-accent;
//   background-color: rgba(255, 255, 255, 0.1);
//   border-radius: 50%;
//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:hover,
//   &:focus {
//     background-color: $color-accent;
//   }
// }
// .wraper__icon {
//   fill: currentColor;
// }
