.header {
  border-bottom: 1px solid #ececec;
  padding: 25px 0;
  position: relative;
}
// .container--container-header {
//   display: flex;
//   align-items: center;
// }
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: $primary-color-accent;
  text-align: center;
  padding: 20px;
  &.is-open {
    display: block;
  }
}
// .nav-list {
//   display: flex;
//   align-items: center;
// }

// .nav-list__item {
//   margin-right: 50px;
//   .nav-list > &:last-child {
//     margin-right: 0;
//   }
// }

/* ссилки навігації */
.nav-list__link {
  text-decoration: none;
  color: $color-text;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $color-accent;
  }
}

// .nav-list--active {
//   color: $color-accent;
//   position: relative;
//   &::after {
//     content: " ";
//     display: block;
//     width: 100%;
//     height: 4px;
//     background-color: $color-accent;
//     border-radius: 2px;
//     position: absolute;
//     top: 45px;
//   }
// }
