// .btn-ex {
//   // width: 30px;
//   // height: 30px;
//   border: 1px solid rgba(0, 0, 0, 0.1);
//   border-radius: 50%;
//   background-color: #ffffff;
//   position: absolute;
//   top: 15px;
//   right: 10px;
//   cursor: pointer;
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:hover,
//   &:focus {
//     color: $color-accent;
//   }
//   &__icon {
//     fill: currentColor;
//   }
// }
