// .menu-icon {
//   position: absolute;
//   top: 20px;
//   right: 20px;
//   display: inline-flex;
//   margin: 0;
//   padding: 0;

//   &__cross {
//     display: none;
//   }
//   &.is-open &__cross {
//     display: block;
//   }
//   &.is-open &__menu {
//     display: none;
//   }
// }
.mob-menu {
  padding: 50px 40px;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #fff;
}

.menu-icon {
  display: block;
  border: none;
  background-color: transparent;
}
.menu-icon-close {
  position: absolute;
  top: 21px;
  right: 25px;
  display: block;
  border: none;
  background-color: transparent;
}
