// .list-icon {
//   display: flex;
//   justify-content: center;
// }
// .list-icon__item {
//   margin-right: 10px;
//   &:last-child {
//     margin-right: 0;
//   }
// }
// .list-icon__link {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 44px;
//   height: 44px;
//   color: #afb1b8;
//   border-radius: 50%;
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:hover,
//   &:focus {
//     color: #ffffff;
//     border-radius: 50%;
//     background-color: $color-accent;
//   }
// }
// .list-icon__social {
//   fill: currentColor;
// }
