.form {
  margin-left: 90px;
  &__subscribe {
    display: flex;
    align-items: flex-end;
  }
  &__inner {
    display: flex;
    flex-direction: column;
  }
}

.form__title {
  text-transform: uppercase;
  color: $primary-color-accent;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .form__inner:focus-within & {
    color: $color-accent;
  }
}
.form__sign-up {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 12px;
}

.form__email {
  height: 50px;
  width: 360px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: $primary-color-accent;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border: 1px solid $color-accent;
  }
}
