h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
textarea {
  margin-top: 5px;
  resize: none;
  height: 120px;
  border: 1px solid #757575;
  border-radius: 4px;
}
