$regular-size: 14px;
$second-size: 16px;
$color-text: #212121;
$second-color-text: #757575;
$color-accent: #2196f3;
$primary-color-accent: #ffffff;
$bg-color: #2f303a;
$second-bg-color: #f5f4fa;
$section-bg-color: rgba(47, 48, 58, 0.8);
